<a href="https://colab.research.google.com/github/jalexcanon/MujeresDigitales/blob/master/Clase9(MD).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas**
Is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

Para poder entender pandas se requiere conocer dos tipos de estructuras:

1. Series
2. DataFrame
3. Panel 


Data structure  | Dimensionalidad | Analogo Excel 
-------------------|-------------------|------------------
Series       | 1D |Columna 
Dataframe       | 2D | Hoja de calculo
Panel       | 3D |Hojas de calculo multiples

Las estructuras mas comunes son **Series** y **DataFrame**

# **Series**
Se usan para modelar estructuras 1D, similar a las listas en Python aunque tienen mayor numero de bits incluyendo indice y nombre. 

Pueden albergar strings, floats, booleans

In [ ]:
import pandas as pd #pd es un alias
maya =pd.Series([145,142,38,13],name="counts") #Series es un metodo
print(type(maya)) #el tipo de david
print(maya)
maya[3] #Empieza desde 0

<class 'pandas.core.series.Series'>
0    145
1    142
2     38
3     13
Name: counts, dtype: int64

13

In [ ]:
alexa=pd.Series(["a","l","e","x","a"],name="counts")
print(alexa)

0    a
1    l
2    e
3    x
4    a
Name: counts, dtype: object

In [ ]:
print(alexa.index)
print(alexa.values)

RangeIndex(start=0, stop=5, step=1)
['a' 'l' 'e' 'x' 'a']

In [3]:
import pandas as pd
alexa_two=pd.Series([5,4,3,2,1],name="counts",index=["a","l","e","x","a"])
print(alexa_two)
print(alexa_two.index)
print(alexa_two.values)

a    5
l    4
e    3
x    2
a    1
Name: counts, dtype: int64
Index(['a', 'l', 'e', 'x', 'a'], dtype='object')
[5 4 3 2 1]

In [5]:
alexa_two[["a","l"]]

a    5
a    1
l    4
Name: counts, dtype: int64

In [ ]:
# Tambien pueden albergar diferentes objetos 
class J:
   pass
pedro = pd.Series(['David', 'Fran', 13, J()],\
                    name='JJ')
pedro

0                                    David
1                                     Fran
2                                       13
3    <__main__.J object at 0x7f19e6da0b90>
Name: JJ, dtype: object

In [ ]:
#Valores nulos.
nan_ser=pd.Series([2,None],index=["a","b"]) #Not a number (NaN)
print(nan_ser)
nan_ser.count()

a    2.0
b    NaN
dtype: float64

1

In [ ]:
impares=pd.Series([1,3,5,7,9,11,13,15])
print(impares)

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
dtype: int64

In [ ]:
impares_dos=pd.Series(range(1,16,2))
print(impares_dos)

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
dtype: int64

In [13]:
impares_dos=pd.Series(range(1,16,2))
print(impares_dos)
impares_dos[2:5]

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
dtype: int64

2    5
3    7
4    9
dtype: int64

In [14]:
impares_dos>10

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
dtype: bool

In [ ]:
#Uso de mask con el ejemplo de los impares. 
mask=impares_dos>10
impares[mask] #para filtrar esos valores

5    11
6    13
7    15
dtype: int64

El objeto Series es mucho mas rapido, consume menos memoria y tiene más métodos que una lista.

Tambien tiene muchas similitudes con Numpy array

**Proceso CLAB (Creacion, Lectura, Actualizacion, Borrado)**

In [11]:
#Diccionarios
g2=pd.Series({"1994":7, "1996":[1,2]})
print(g2)
print(g2["1996"])
print(g2["1994"])

1994         7
1996    [1, 2]
dtype: object
[1, 2]
7

In [ ]:
#Llamando un elemento en especifico. 
g2["1994"]

7

In [18]:
# Creacion
cidys = pd.Series([10, 7, 1, 22],\
                        index=['1968', '1969', '1970', '1970'],\
                        name='Per')
for i in cidys:
  print(i)

10
7
1
22

In [ ]:
print(22 in cidys) # no hay 22 dentro de los indices. 
print('1970' in cidys) # Si hay 1970 dentro de los indices. 
print(22 in set(cidys)) #en los valores si hay 22
print(22 in cidys.values) #en los valores si hay 22
# Se pueden hacer iteraciones sobre tuplas index, valor
for item in cidys.iteritems():
  print(item)

False
True
True
True
('1968', 10)
('1969', 7)
('1970', 1)
('1970', 22)

In [15]:
#Modificación
anios=pd.Series([10, 7, 1, 22],index=['1968', '1969', '1970', '1970'])
anios['1970']=5 #se actualizo el valor
anios

1968    10
1969     7
1970     5
1970     5
dtype: int64

In [ ]:
# Actualizacion
cidys['1969'] = 6
print(cidys['1969'])
print(cidys)

6
1968    10
1969     6
1970     1
1970     2
Name: Per, dtype: int64

In [ ]:
#Creando o agregando un nuevo valor
cidys=cidys.append(pd.Series({"2000":9}))
print(cidys)

1968    10
1969     7
1970     1
1970     2
2000     9
dtype: int64

In [ ]:
#Para eliminar un elemento
del cidys["2000"]
print(cidys)

1968    10
1969     7
1970     1
1970     2
dtype: int64

In [ ]:
#Filtros - para evitar la mascara
cidys[cidys <= 2]

1970    1
1970    2
dtype: int64

# **Indexamiento de series**
El atributo .iloc sirve para encontrar la posicion de los indices

Por el contrario .loc permite encontrar los labels en el indice

In [19]:
# Actualizando un indice duplicado 
cidys['1970'] = 2
print(cidys)
cidys = pd.Series([10, 7, 1, 22],index=['1968', '1969', '1970', '1970'])
cidys.iloc[3] = 2 #Para actualizar solo un valor
print(cidys)

1968    10
1969     7
1970     2
1970     2
Name: Per, dtype: int64
1968    10
1969     7
1970     1
1970     2
dtype: int64

In [20]:
cidys.loc["1968"]

10

In [ ]:
cidys.iloc[0:2]

1968    10
1969     7
dtype: int64

In [21]:
cidys.iloc[0]

10

In [ ]:
impares_dos[2:4]

2    5
3    7
dtype: int64

In [ ]:
impares_dos.iloc[2:4]

2    5
3    7
dtype: int64

In [ ]:
impares_dos.loc[2:4] #este si es incluyente .Loc es por orden de 0,1,2,3...(ver a las 2:00:00-ejemplo-)

2    5
3    7
4    9
dtype: int64

Existen otros metodos llamados **.at** y **.iat** que son los analodos a .loc y .iloc solo que devuelven como resultado un objeto numpy.ndarray

In [ ]:
cidys = pd.Series([10, 7, 1, 22],index=['1968', '1969', '1970', '1970'])
cidys.at['1969']

7

In [ ]:
print(cidys.iloc[0:2])
print(cidys.iloc[::3])
print(cidys.iloc[:-2])

1968    10
1969     7
dtype: int64
1968    10
1970    22
dtype: int64
1968    10
1969     7
dtype: int64

In [ ]:
mask = cidys > 7 #se fija en los indices. 
print(mask)
print(cidys[mask])
#Se conoce como BROADCASTING cuando se aplica cualquier operacion a todos los
#elementos de una serie. 
cidys +2 # Otro ejemplo de broadcasting, se le sumo 2 a los indices.

1968     True
1969    False
1970    False
1970     True
dtype: bool
1968    10
1970    22
dtype: int64

1968    12
1969     9
1970     3
1970    24
dtype: int64

**Operaciones logicas**
and/or/not

In [ ]:
print(cidys[mask | cidys <= 2])
print('-----------') #REVISAR
print(cidys[mask | (cidys <= 2)])

1968    10
1969     7
1970     1
1970    22
dtype: int64
-----------
1968    10
1970     1
1970    22
dtype: int64

# Métodos de series

In [ ]:
import pandas as pd
juan = pd.Series([3, None , 11, 9],\
                     index=['David', 'Pedro', 'Ju', 'Lin'],\
                     name='Counts')
for value in juan: 
  print(value)

3.0
nan
11.0
9.0

In [ ]:
for idx, value in juan.iteritems(): #iterar en indices y valores
  print('indice: ',idx, '\tValor: ' , value)

indice:  David 	Valor:  3.0
indice:  Pedro 	Valor:  nan
indice:  Ju 	Valor:  11.0
indice:  Lin 	Valor:  9.0

In [ ]:
for idx in juan.keys():
  print(idx)

David
Pedro
Ju
Lin

In [ ]:
print(juan.get('David'))
print(juan.David)

3.0
3.0

In [ ]:
#Fechas
fechas = pd.to_datetime(pd.Series(['Sep 7, 2001',\
                            '9/8/2001', '9-9-2001', '10th of September 2001',\
                            'Once de Septiembre 2001']), errors='coerce')
fechas

0   2001-09-07
1   2001-09-08
2   2001-09-09
3   2001-09-10
4          NaT
dtype: datetime64[ns]

In [ ]:
fechas[fechas >= '2001-09-09']

2   2001-09-09
3   2001-09-10
dtype: datetime64[ns]

In [ ]:
cumple = pd.to_datetime(pd.Series(['09-04-1994', '09-19-1968', '12-26-1966'], index=['yo', 'mamá', 'papá']))
cumple

yo     1994-09-04
mamá   1968-09-19
papá   1966-12-26
dtype: datetime64[ns]

In [ ]:
# Uso de counts
jj = pd.Series([67.3, 100, 96.7, None, 100],\
               index=['R', 'P', 'G', 'P', 'B'],\
               name='test2')
print(jj.count())
print('----')
print(jj.value_counts())
print('----')
print(jj.unique()) #no tuvo en cuenta el segundo 100
print('----')
print(jj.drop_duplicates())
print('----')
print(jj.duplicated())#Hay dos 100

4
----
100.0    2
96.7     1
67.3     1
Name: test2, dtype: int64
----
[ 67.3 100.   96.7   nan]
----
R     67.3
P    100.0
G     96.7
P      NaN
Name: test2, dtype: float64
----
R    False
P    False
G    False
P    False
B     True
Name: test2, dtype: bool

In [ ]:
print(jj.groupby(jj.index).first())
print('-----------')
print(jj.groupby(jj.index).last())

B    100.0
G     96.7
P    100.0
R     67.3
Name: test2, dtype: float64
-----------
B    100.0
G     96.7
P    100.0
R     67.3
Name: test2, dtype: float64

In [ ]:
# Funciones estadisticas
print(jj.mean()) #promedio
print(jj.median()) #la media
print(jj.quantile()) #cuantil

91.0
98.35
98.35

In [ ]:
print(jj.quantile(0.1))
print(jj.quantile(0.9))

76.12
100.0

In [ ]:
print(jj.describe())
print('-----------')
print(jj.describe(percentiles=[0.05,0.1,0.2]))
print('------------')
print(jj.min())
print('------------')
print(jj.idxmin())
print('------------')
print(jj.max())
print('------------')
print(jj.idxmax())

count      4.000000
mean      91.000000
std       15.876398
min       67.300000
25%       89.350000
50%       98.350000
75%      100.000000
max      100.000000
Name: test2, dtype: float64
-----------
count      4.000000
mean      91.000000
std       15.876398
min       67.300000
5%        71.710000
10%       76.120000
20%       84.940000
50%       98.350000
max      100.000000
Name: test2, dtype: float64
------------
67.3
------------
R
------------
100.0
------------
P

In [ ]:
# Lidiar con Nas
print(jj.fillna(-1))
print(jj.dropna())
val_mask = jj.notnull()
val_mask
jj[val_mask]

R     67.3
P    100.0
G     96.7
P     -1.0
B    100.0
Name: test2, dtype: float64
R     67.3
P    100.0
G     96.7
B    100.0
Name: test2, dtype: float64

R     67.3
P    100.0
G     96.7
B    100.0
Name: test2, dtype: float64

In [ ]:
# Sorting
jj = pd.Series([67.3, 100, 96.7, None, 100],\
               index=['R', 'P', 'G', 'P', 'B'],\
               name='test2')
orig = jj.copy()
print(orig.sort_values()) #ordenando los valores de menor a mayor
print(orig.sort_values(ascending=False))  #ordenando los valores de mayor a menor
print(orig.sort_index())
print(orig.sort_index(ascending=False))
#print(orig.rank())

R     67.3
G     96.7
P    100.0
B    100.0
P      NaN
Name: test2, dtype: float64
B    100.0
P    100.0
G     96.7
R     67.3
P      NaN
Name: test2, dtype: float64
B    100.0
G     96.7
P    100.0
P      NaN
R     67.3
Name: test2, dtype: float64
R     67.3
P    100.0
P      NaN
G     96.7
B    100.0
Name: test2, dtype: float64

In [ ]:
# Aplicando funciones
def format(x): 
  if x == 1:
    template = '{} Alexa'
  else:
    template = '{} Alexa'
  return template.format(x)
jj.map(format)

R     67.3 Alexa
P    100.0 Alexa
G     96.7 Alexa
P      nan Alexa
B    100.0 Alexa
Name: test2, dtype: object

In [ ]:
# Operaciones con strings
nombres = pd.Series(['Jorge', 'John', 'Paula'])
print(nombres.str.lower())
print(nombres.str.findall('o'))

0    jorge
1     john
2    paula
dtype: object
0    [o]
1    [o]
2     []
dtype: object