<a href="https://colab.research.google.com/github/jalexcanon/MujeresDigitales/blob/master/Clase_1_(MD).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introducción**
En python hay varios tipos de datos compuestos y están disponibles por defecto en los intérpretes.


1.   Númericos
2.   Secuenciales
3.   Mapeos
4.   Conjuntos usados para agrupar valores

Para manejar un código limpio en Python


1.   Manejar siempre minúscula
2.   Se le pueden añadir números

**Diferencias entre variables y constantes** Constante: una magnitud que no cambia con el paso del tiempo. Variable: cantidad que es susceptible a tomar distintos valores númericos.

In [1]:
x=30
print(x)

30

**Tipos de datos**


*   Enteros: números que no tienen decimales, puedens ser positivos o negativos. (int)
*   Float: permite valores con decimales

In [2]:
a=int(3.14)
print(a)

3

In [3]:
a=float(5.67)
print(a)

5.67

**Tipos cadena**
Las cadenas son texto encerrado entre comillas (simples o dobles) y se pueden conformar de diferentes caracteres (Númericos, alfabéticos, especiales) Tener en cuenta que las cadenas admiten operadores como la suma y la resta.

In [10]:
val2="Hola mundo"
print(val2)
val3="soy Alexandra"
print(val3)
print(val2+" "+val3)
print(val2, val3) #Es una opción más limpia

Hola mundo
soy Alexandra
Hola mundo soy Alexandra
Hola mundo soy Alexandra

In [13]:
q="5"
c="2"
q=int(q)
c=int(c)
print(q-c)

3

**Tipo booleano**
Este tipo de variable solo tendrá un valor -verdadero- o -falso-
Son valores muy usados en condiciones y bucles

In [16]:
lola=True
print("El valor es",lola, "el cual es de tipo", type(lola))

El valor es True el cual es de tipo <class 'bool'>

**Colecciones**
Tipo de conjuntos: son una colección de datos sin elementos que se repiten. 

*   Listas
*   Tuplas
*   Diccionarios

In [19]:
fruta= "pera", "manzana", "mandarina"
colores = "morado", "blanco", "azul"
print(fruta, colores)

('pera', 'manzana', 'mandarina') ('morado', 'blanco', 'azul')

**Listas**

---


Las que almacenan vectores. [ ]
El conteo inicia desde 0

In [22]:
Ines=["3","Azul", "Naranja", "Perro"]
print(Ines)
ines=Ines[0:3:2] #Realizo dos saltos a partir del 2
print(ines)

['3', 'Azul', 'Naranja', 'Perro']
['3', 'Naranja']

**Tuplas**
Es similar a una lista pero no es inmutable

In [25]:
tupla=(2,4,"Hola")
print(tupla)
otra=tupla, (2,3,5) #tupla anidada
print(otra)

(2, 4, 'Hola')
((2, 4, 'Hola'), (2, 3, 5))

**Tipo diccionario**
Define los datos uno a uno entre un campo (ID-identificador-clave) y un valor. {}

In [44]:
datos_b={
    "nombres": "Alexandra",
    "edad":"26",
    "cedula": "123124",
    "estado civil":"soltera",
    "lugar de nacimiento":"Bogotá",
    "Fecha de nacimiento": "4/09/1994",
}
print(datos_b)
print("Id del diccionario: ", datos_b.keys())
print("valores del diccionario: ", datos_b.values())
print("Imprimir como conjunto: ", datos_b.items())
print("Cédula es igual a:", datos_b["cedula"])

{'nombres': 'Alexandra', 'edad': '26', 'cedula': '123124', 'estado civil': 'soltera', 'lugar de nacimiento': 'Bogotá', 'Fecha de nacimiento': '4/09/1994'}
Id del diccionario:  dict_keys(['nombres', 'edad', 'cedula', 'estado civil', 'lugar de nacimiento', 'Fecha de nacimiento'])
valores del diccionario:  dict_values(['Alexandra', '26', '123124', 'soltera', 'Bogotá', '4/09/1994'])
Imprimir como conjunto:  dict_items([('nombres', 'Alexandra'), ('edad', '26'), ('cedula', '123124'), ('estado civil', 'soltera'), ('lugar de nacimiento', 'Bogotá'), ('Fecha de nacimiento', '4/09/1994')])
Cédula es igual a: 123124

In [40]:
datos_carros={ }
datos_carros["Tamaño"]="grande"
datos_carros["Color"]="cafe"
datos_carros["Marca"]="Renault"
datos_carros["Precio"]= 60
print(datos_carros)

datos_carros2={ }
datos_carros2["Tamaño"]="pequeño"
datos_carros2["Color"]="azul"
datos_carros2["Marca"]="Renault"
datos_carros2["Precio"]= 30
print(datos_carros2)

compra=datos_carros["Precio"]+datos_carros2["Precio"]
print("La compra total fue de:", compra)
print("La compra total fue de: " + str(compra))

{'Tamaño': 'grande', 'Color': 'cafe', 'Marca': 'Renault', 'Precio': 60}
{'Tamaño': 'pequeño', 'Color': 'azul', 'Marca': 'Renault', 'Precio': 30}
La compra total fue de: 90
La compra total fue de: 90

**Ejercicios**

In [53]:
#Enteros
numero_1=5
numero_2=8
print("La suma de",numero_1,"y",numero_2,"es:",numero_1+numero_2)
numero_3=9
numero_4=10
print("La resta de",numero_3,"y",numero_4,"es:",numero_3-numero_4)
numero_5=6.8
numero_6=8.9
#float
print("La suma de",numero_5,"y",numero_6,"es:",numero_5+numero_6)
numero_7=4.5
numero_8=5.8
print("La resta de",numero_7,"y",numero_8,"es:",numero_7-numero_8)

La suma de 5 y 8 es: 13
La resta de 9 y 10 es: -1
La suma de 6.8 y 8.9 es: 15.7
La resta de 4.5 y 5.8 es: -1.2999999999999998

In [58]:
#Cadenas
cadena_1="Hola"
print(cadena_1)
cadena_2="¿Cómo estás?"
print(cadena_2)
print(cadena_1, cadena_2, "\n")

cadena_1="Mi nombre es"
print(cadena_1)
cadena_2="Alexandra"
print(cadena_2)
print(cadena_1, cadena_2)

Hola
¿Cómo estás?
Hola ¿Cómo estás?

Mi nombre es
Alexandra
Mi nombre es Alexandra

In [61]:
#booleanos
Maya=True
print(Maya, type(Maya))
Maya=False
print(Maya, type(Maya))

True <class 'bool'>
False <class 'bool'>

In [72]:
#Listas
mi_lista=["Perro","Gato","Aves"]
mi_lista_dos=["Azul","Blanco","Verde"]
print(mi_lista+mi_lista_dos)
print(mi_lista,mi_lista_dos)
print(mi_lista[0:1])
print(mi_lista_dos[0:2])

carbohidratos=["Arroz","Galleta","Pan"]
proteinas=["Huevos","Leche","Carne"]
print(carbohidratos+proteinas)
print(carbohidratos,proteinas)
print(carbohidratos[0:3])
print(proteinas[0:2])

['Perro', 'Gato', 'Aves', 'Azul', 'Blanco', 'Verde']
['Perro', 'Gato', 'Aves'] ['Azul', 'Blanco', 'Verde']
['Perro']
['Azul', 'Blanco']
['Arroz', 'Galleta', 'Pan', 'Huevos', 'Leche', 'Carne']
['Arroz', 'Galleta', 'Pan'] ['Huevos', 'Leche', 'Carne']
['Arroz', 'Galleta', 'Pan']
['Huevos', 'Leche']

In [74]:
#Tuplas
tupla_uno=(5,4,3,2,1, "números", True)
print(tupla_uno)
union=tupla_uno, (2.1,3.2,5.0)
print(union)

(5, 4, 3, 2, 1, 'números', True)
((5, 4, 3, 2, 1, 'números', True), (2.1, 3.2, 5.0))

In [82]:
#Diccionarios
datos_perro={ }
datos_perro["Nombre"]="Rocky"
datos_perro["Tamaño"]="pequeño"
datos_perro["Color"]="blanco"
datos_perro["Raza"]="mestizo"
datos_perro["Estado"]="Adoptado"
print(datos_perro)
print("El estado de", datos_perro["Nombre"], "es", datos_perro["Estado"])
print("Los Id de los perros son:", datos_perro.keys())

datos_perro2={
    "nombre": "Maya",
    "tamaño":"grande",
    "color": "blanco",
    "raza":"samoyedo",
    "estado":"no adoptada",
}

print("El estado de", datos_perro2["nombre"], "es", datos_perro2["estado"])
print("valores del diccionario de los perros son: ", datos_perro2.values())

{'Nombre': 'Rocky', 'Tamaño': 'pequeño', 'Color': 'blanco', 'Raza': 'mestizo', 'Estado': 'Adoptado'}
El estado de Rocky es Adoptado
Los Id de los perros son: dict_keys(['Nombre', 'Tamaño', 'Color', 'Raza', 'Estado'])
El estado de Maya es no adoptada
valores del diccionario de los perros son:  dict_values(['Maya', 'grande', 'blanco', 'samoyedo', 'no adoptada'])